
/* Variables */
:root {
    --text-color: #eae6ed;
    --background-color: #0c0c0c;
}

* {
    box-sizing: border-box;

    /* For the font type */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    color: var(--text-color);
}

body {
    background-color: var(--background-color);

    margin: 0;
}


header {
    display: flex;

    align-items: center;
    justify-content: space-between;

    gap: 1.6rem;

    background-color: #0e0e0e;

    margin: 0;

    padding: 0.4rem;

}

header p {
    font-size: 2rem;
}

header span, header p {
    margin: 0 .5rem
}

main {
    max-width: 60%;

    margin: auto;
}

.featured-game {

    display: grid;

    grid-template-columns: 1fr minmax(10%, 30%);


    img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}


.featured-game-description-body {
    background-color: #323030;

    position: relative;

    padding: 1rem;

    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;

    h2 {
        margin: 0;
    }
}

.featured-game-description-three span {
    position: absolute;

    padding: 1rem;

    bottom: 0;
    left: 0;
}

.view-game-details {
    text-decoration: underline;

    position: absolute;

    margin: 1rem;

    bottom: 0;
    right: 0;
}

.popular-games-body {
    display: flex;

    justify-content: center;

    gap: 1rem;

    img {
        width: 100%;
    }
}

.popular-game-card {

    display: flex;

    flex-direction: column;
    align-items: flex-end;

    cursor: pointer;

    div {
        display: inline-flex;

        background-color: #3a3939;

        width: fit-content;

        span {
            width: fit-content;

            padding: 0 .5rem;
        }
    }

}

.popular-games-section {
    margin-top: 3rem;
}

.popular-games-section-header {
    display: flex;

    justify-content: space-between;

    align-items: center;

    span {
        text-decoration: underline;
    }
}

.browse-by-genre-section {
    margin-top: 3rem;
}

.genre-sections {
    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 1rem;

    img {
        width: 100%;
    }

    .card {
        display: flex;

        flex-direction: column;

        align-items: center;

        justify-content: center;

        margin-right: 1rem;

        padding: 1rem;

        background-color: #323030;

        border-radius: 1rem;

        transition: background-color 0.25s ease;

        cursor: pointer;

        span {
            margin-top: 1rem;
        }

    }

    .card:hover {
        background-color: #252424;
    }

}



